dist: bionic
sudo: false

matrix:
    fast_finish: true

language: python
python:
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.7-dev"
  - "3.8-dev"


before_install:
  - pip freeze
  - travis_retry pip install --upgrade pip
  - travis_retry pip install -r requirements.txt
  - travis_retry pip install --upgrade pycodestyle
  - travis_retry pip install --upgrade pylint
  # - travis_retry pip install --upgrade coverage
  # - travis_retry pip install --upgrade coveralls
  - pip freeze


script:
  - pycodestyle --statistics check_elasticsearch_snapshot
  - pylint check_elasticsearch_snapshot
